*.db-shm
*.db-wal
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo

.cache
.DS_Store
.dynamodb
.env
.env.test
.eslintcache
.fusebox
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.serverless
.vuepress/dist
.yarn-integrity
.webpack

lerna-debug.log*
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*

build/Release/
coverage/
docs/
generated/
jspm_packages/
lib-cov/
logs/
node_modules/
out/
pids/
typings/

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.vs/
codex.patch
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
/.vs
/.vs
